@import "src/variables";

.open-recipe {
  border: none;
  color: white;
  border-radius: 50px;
  height: 30px;
  width: 100px;
  background-color: $cutiefood-orange;
}

.recipe-image {
  min-width: 50px;
  max-width: 600px;
  max-height: 400px;
}
