<div class="container-fluid header-container">
    <nav class="navbar navbar-expand-lg">
        <img class="header-logo mr-auto" [routerLink]="['/']" src="assets/logos/logo_text.png" alt="Logo text">
        <button class="navbar-toggler" type="button" (click)="changeToggleState()">
            <mat-icon class="toggle-menu-icon d-flex">menu</mat-icon>
        </button>
        <div [ngbCollapse]="isToggleClosed" class="collapse navbar-collapse justify-content-stretch">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']" (click)="isToggleClosed = true">Főoldal</a>
              </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/calendar']" (click)="isToggleClosed = true">Naptár</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/favorites']" (click)="isToggleClosed = true">Kedvenceim</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/shopping_list']" (click)="isToggleClosed = true">Bevásárlólistám</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/whats_home']" (click)="isToggleClosed = true">Mi van otthon?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/my_recipes']" (click)="isToggleClosed = true">Receptjeim</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'.'" (click)="logout()">Kijelentkezés</a>
                </li>
            </ul>
        </div>

    </nav>
</div>
