.login-container {
  height: 100vh;
  width: 50%;
}

.cutiefood-logo {
  background-color: #3c3636;
  height: 100vh;
  width: 50%;
}

.login-page {
  height: 100vh;
  padding: 0;
  margin: 0;
}

.login-page-logo {
  width: 70%;
}
