@import "src/variables.scss";

.login-container {
  min-height: $app-content-height;
  width: 50%;
  background-color: $cutiefood-background;
}

.cutiefood-logo {
  background-color: #3c3636;
  height: 100vh;
  width: 50%;
}

.cutiefood-mobile-logo {
  background-color: $cutiefood-background;
}

.login-page {
  height: 100vh;
  padding: 0;
  margin: 0;
}

.login-page-logo {
  width: 70%;
}

.login-button {
  height: 40px;
  width: fit-content;
  font-size: 18px;
  background-color: $cutiefood-orange;
  color: white;
  border: none;
  border-radius: 30px;
}
