<div class="container-fluid index-page py-3">
  <div class="row pb-3">
    <div class="col-md-8 col-sm-12 d-flex align-items-center">
      <input
        class="index-page-search w-100"
        placeholder="Keresés"
        [(ngModel)]="searchText"
        onfocus="this.placeholder = ''"
      />

      <button
        (click)="filterRecipes()"
        class="index-page-button search-button mx-3 d-flex justify-content-center align-items-center"
        title="Keresés"
      >
        <mat-icon>search</mat-icon>
      </button>
    </div>
    <div
      class="col-md col-sm-12 d-flex justify-content-center justify-content-md-end my-3 my-md-0 align-items-center"
    >
      <app-upload-edit-recipe-modal
        (recipeUpdated)="recipeListChange()"
      ></app-upload-edit-recipe-modal>
    </div>
  </div>
  <app-recipe-card-list [recipeList]="recipeListToShow"></app-recipe-card-list>
</div>
