@import "src/variables.scss";

.recipe-card {
  border-radius: 20px;
  width: 300px;

  .card-image {
    object-fit: cover;
    border-radius: 20px;
    height: 200px;
    width: 300px;
  }

  .recipe-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
