<div class="container-fluid shopping-list-page py-3">
  <div class="container">
    <div *ngIf="shoppingList.length > 0" class="row">
      <div class="col-12 col-md-6">
        <h1>
          A bevásárlólista jelenleg {{ shoppingList.length }} elemet tartalmaz
        </h1>
      </div>
      <div class="col d-flex justify-content-md-end">
        <button (click)="selectAll()" class="select-all-button">
          {{ this.allSelected ? "Kijelölés törlése" : "Összes kijelölése" }}
        </button>
      </div>
    </div>
    <div *ngIf="!(shoppingList.length > 0)">
      <h1>A bevásárlólista jelenleg üres!</h1>
    </div>
    <mat-selection-list #shopList [(ngModel)]="selectedOptions">
      <mat-list-option *ngFor="let item of shoppingList" [value]="item.name">
        {{ item.name }}
      </mat-list-option>
    </mat-selection-list>
    <div class="row my-3">
      <div class="col-12 col-md-6 d-flex">
        <mat-form-field appearance="outline">
          <mat-select
            #select
            (valueChange)="addToCart($event)"
            [disableOptionCentering]="true"
          >
            <mat-option
              *ngFor="let ingredient of ingredients"
              [value]="ingredient"
              >{{ ingredient.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col d-flex justify-content-md-end mt-2 mt-md-0">
        <button (click)="saveShoppingList()" class="delete-button mr-2">
          Mentés
        </button>
        <button (click)="deleteSelected()" class="delete-button">
          Kijelöltek törlése
        </button>
      </div>
    </div>
  </div>
</div>
