<div class="container-fluid shopping-list-page py-3">
  <div class="container">
    <h1 class="display-1">Bevásárlólistám</h1>
    <mat-selection-list #shopList [(ngModel)]="selectedOptions">
      <mat-list-option *ngFor="let item of shoppingList" [value]="item.name">
        {{item.name}}
      </mat-list-option>
    </mat-selection-list>
    <div class="row">
      <div class="col-6">
        új elemek hozzáadása
      </div>
      <div class="col d-flex justify-content-end">
        <button (click)="deleteSelected()">Kijelöltek törlése</button>
      </div>
    </div>
  </div>
</div>
