@import "src/variables.scss";

.event-box {
  border: none;
  border-radius: 10px;
  background-color: $cutiefood-orange;
  width: 100%;

  .recipe-title {
    width: 55px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .event-image {
    width: 70%;
    height: 100%;
    border-radius: 7px;
  }
}
