@import "src/variables.scss";

.event-box {
  border: none;
  border-radius: 10px;
  width: 90%;
  background-color: $cutiefood-orange;

  .col-12 {
    padding: 0px;
  }
  .event-image {
    width: 70%;
    height: 100%;
    border-radius: 7px;
  }
}
