@import "src/variables.scss";

.registration-button {
  height: 40px;
  width: fit-content;
  font-size: 18px;
  background-color: $cutiefood-orange;
  color: white;
  border: none;
  border-radius: 30px;
}
