<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header" *ngIf="recipe">
    <h2 class="modal-title mb-0" id="modal-basic-title">
      Új recept feltöltése
    </h2>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <mat-form-field
      appearance="outline"
      class="recipe-name d-flex justify-content-center"
    >
      <mat-label>Recept neve</mat-label>
      <input matInput type="text" [(ngModel)]="recipe.name" />
      <button
        *ngIf="recipe.name"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="recipe.name = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div
      class="recipe-diff-level my-3 d-flex justify-content-between align-items-center px-0 px-md-5"
    >
      <mat-label class="mr-2 mr-md-3">Recept nehézségi szintje: </mat-label>
      <mat-slider
        [max]="3"
        [min]="1"
        [step]="1"
        [thumbLabel]="true"
        [(ngModel)]="recipe.diffLevel"
        aria-labelledby="diff-slider"
      ></mat-slider>
    </div>
    <div
      class="recipe-ingredients my-3 d-flex justify-content-between align-items-center px-0 px-md-5"
    >
      <mat-label class="mr-2 mr-md-3 my-3">Összetevők: </mat-label>

      <mat-list
        *ngIf="recipe.ingredients"
        #ingredientList
        ngDefaultControl
        class="mr-3"
      >
        <mat-list-item *ngFor="let ingredient of recipe.ingredients">
          <input
            type="text"
            class="quantity-input mr-2"
            [(ngModel)]="ingredient.quantity"
          />
          <p class="mb-0">{{ ingredient.ingredient.name }}</p>
          <mat-icon
            (click)="removeIngredient(ingredient)"
            class="delete-ingredient-icon"
            >delete</mat-icon
          >
        </mat-list-item>
      </mat-list>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-around mr-3">
        <mat-form-field appearance="outline">
          <mat-select #select (valueChange)="addIngredient($event)">
            <mat-option
              *ngFor="let ingredient of allIngredientsList"
              [value]="ingredient"
            >
              {{ ingredient.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div
      class="recipe-process my-3 d-flex justify-content-between align-items-center px-0 px-md-5"
    >
      <mat-label class="mr-2 mr-md-3">Elkészítés menete: </mat-label>
      <mat-form-field appearance="outline">
        <textarea
          matInput
          [placeholder]="'Részletezze az elkészítés menetét'"
          [rows]="10"
          [(ngModel)]="recipe.process"
        ></textarea>
      </mat-form-field>
    </div>
    <div
      *ngIf="!isEdit"
      class="recipe-image d-flex justify-content-between px-md-5"
    >
      <mat-label class="mr-2 mr-md-3">Fénykép feltöltése: </mat-label>
      <input (change)="fileChange($event)" type="file" />
    </div>
  </div>
  <div class="modal-footer d-flex justify-content-center">
    <button class="modal-save-button" (click)="onSave()">Mentés</button>
  </div>
</ng-template>

<button
  *ngIf="!isEdit"
  class="upload-recipe-button mr-2 mb-2"
  (click)="open(content)"
>
  Új recept feltöltése
</button>

<button
  *ngIf="isEdit"
  class="card-edit-button d-flex justify-content-center align-items-center mx-1"
  (click)="open(content)"
>
  <mat-icon>edit</mat-icon>
</button>

<!-- <div class="container test-container">
  <label>
    <input
      type="file"
      class="text-nowrap text-truncate"
      (change)="selectFile($event)"
    />
  </label>
  <button
    class="btn btn-success btn-sm"
    [disabled]="!selectedFiles"
    (click)="upload()"
  >
    Upload
  </button>
  <div *ngIf="currentFileUpload" class="progress mt-2">
    <div
      class="progress-bar progress-bar-info"
      role="progressbar"
      attr.aria-valuenow="{{ percentage }}"
      aria-valuemin="0"
      aria-valuemax="100"
      [ngStyle]="{ width: percentage + '%' }"
    >
      {{ percentage }}%
    </div>
  </div>
</div> -->
