@import "src/variables.scss";

.calendar-page {
  min-height: $app-content-height;
  background-color: $cutiefood-background;
}

.today-cell {
  ::ng-deep .day-cell {
    border: 3px solid $cutiefood-orange;
  }
}
