$cutiefood-brown: #3c3636;
$cutiefood-orange: #ec9074;
$cutiefood-background: #ffe6e6;

$header-height: 61px;
$footer-height: 50px;
$app-content-height: calc(100% - #{$header-height} - #{$footer-height});
