/* You can add global styles to this file, and also import other style files */
@import "variables";

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Import NG Select */
@import "~@ng-select/ng-select/themes/default.theme.css";

/* Import Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

* {
  font-family: "Sriracha", cursive;
}

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  z-index: 10000 !important;
}
